{% extends 'base.html' %}
{% load static %}
{% load bulma_tags %}
{% block body %}

        <div class="container" style="padding-top: 20px;">

          
          <div class="row">
            <div class="col-7">
              <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">FILTERS</div>
                <div class="card-body">
                  <form action="" method="get" 
                  style="" class="mobile">
                    {{myfilter.form|bulma}}
                    <br>
                    <center>
                    <button class="btn btn-primary" type="submit">Filter</button>
                   </center>
                  </form>
                </div>
              </div>
            </div>
          
   
         
              <div class="col-7" style="padding-left: 23px;">

                {% for material in material_list %}
                <div class="row">
                <div class="card" >
                  <h5 class="card-header">{{material.course}}</h5>
                  <div class="card-body">
                    <h5 class="card-title"><B>Subject - {{material.subject}} | Semester - {{material.semester}}</B></h5>
                    <p class="card-text">Uploaded By - {{material.name}} | Date - {{material.date|date:"d N Y"}}</B></p>
                    <p class="card-text">{{material.description}}</p>
                    <a href="{{material.material.url}}" download class="btn btn-primary">Download</a>
                  </div>
                </div>
              </div>
              <br>
              {% empty %}

              <h2 class="title" style="">Sorry the material your looking for does not exist.</h2>
              <a href="{% url 'material:material_form' %}" style="">
                <button  style="font-weight: bold;" class="btn btn-primary">Click to Add material</button>
              </a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              {% endfor %}
              </div>
              
            </div>

            <div class="container">
              
              <nav aria-label="...">
                {% if material_list.has_other_pages %}
                  <ul class="pagination justify-content-center">
                  {% if material_list.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{material_list.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}

                  {% for pages in material_list.paginator.page_range %}

                    {% if material_list.number == pages %}
                      <li class="page-item"><a class="page-link" href="#">{{pages}}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                    {% endif %}

                  {% endfor %}
                
                  {% if material_list.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{material_list.next_page_number}}">Next</a>
                    </li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}


                </ul>
              {% endif %}

              </nav>
            </div>
        </div>
{% endblock body %}